
<!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Event Form</h4>
            <p class="mb-30">{{ label|default('Reserver') }} un event </p>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="form-group row" align="center" style="color: #0c0c0c " >
        <label class="col-sm-12 col-md-2 col-form-label">Nom event</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.nom_event,{'attr': {'placeholder':'Nom event','class':'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Event theme</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.event_theme,{'attr': {'placeholder':'Event theme','class':'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Date debut</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.date_debut) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Date fin</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.date_fin) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Event status</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.event_status,{'attr': {'placeholder':'Event status','class':'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Nbr participants</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.nbr_participants,{'attr': {'placeholder':'Nbr participants','class':'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Lieu</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.lieu,{'attr': {'placeholder':'Lieu','class':'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Image event</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.image_event,{'attr':{'accept':'image/*'}}) }}
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Id type</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.id_type,{'attr': {'placeholder':'Id type','class':'form-control'}}) }}
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Event description</label>
        <div class="col-sm-12 col-md-10">
            {{ form_widget(form.event_description,{'attr': {'placeholder':'Event description','class':'form-control'}}) }}
        </div>
    </div>



    <div class="form-group row col-sm-12">
        <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
    </div>
    {{ form_end(form) }}

