{% extends 'TemplateFront.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
        <div class="hero-wrap js-fullheight" >
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                        {# <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{{ path('index') }}">Home</a></span> <span>Contact</span></p> #}
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Login</h1>
                        <section class="pt-4">
                            <div class="row">




                                {{ form_start(emailForm) }}
                                <form  method="post"  class="contact__form">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-lg-8 col-md-8 d-flex justify-content-center p-1 m-1">
                                            <p>Lost password?</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 d-flex justify-content-center">
                                            <p>Ohk, don't panic. You can recover it here.</p>
                                        </div>
                                        <div class="col-lg-6 col-md-8 p-1 m-1">
                                            {{ form_errors(emailForm.email)}}
                                            {{ form_widget(emailForm.email, {'attr' : {'class': 'control-label','placeholder' : 'Email Adress' }}) }}
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center">

                                        <div>
                                            <button type="submit" class="btn btn-primary py-3 px-5">Send me</button>

                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="p-3 m-3">
                                            <p>You remember your Password? Brilliant <b><a style="color:#000b16" href="{{ path('app_login') }}" >Login here</a></b></p>
                                        </div>

                                    </div>

                                </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


{% endblock %}