{% extends 'TemplateDashboard.html.twig' %}

{% block title %}EventType index{% endblock %}

{% block body %}

    <!-- Simple Datatable start -->
    <div class="card-box mb-30">
        <div class="pd-20">
            <h4 class="text-blue h4">Event Type</h4>
            <p class="mb-0"></p>
        </div>
        <div class="pb-20">
            <table class="table">
                <thead>
                <tr>

                    <th>ID</th>
                    <th>Libelle</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event_type in event_types %}
                <tr>
                    <td>{{ event_type.id }}</td>
                    <td>{{ event_type.libelle }}</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="{{ path('app_event_type_edit', {'id': event_type.id}) }}"><i class="dw dw-edit2"></i> Edit</a>
                                <a class="dropdown-item" href="{{ path('app_event_type_delete', {'id': event_type.id}) }}"><i class="dw dw-delete-3"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center;vertical-align: middle;" >no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="form-group row col-sm-12">
                <a class="btn btn-success" href="{{ path('app_event_type_new') }}">Create new</a>
            </div>
        </div>
    </div>



{% endblock %}
